html{
    height: 100%;
    width: 100%;    
    background-color: #800031;
    box-sizing: border-box;
}
body{
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}
.header{
    height:50vh;
    width: 100%;
    background-image: url("./../img/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header p{
    margin: 0;
    color: white;
}
.mst{
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;

}
.lora{
    font-family: Lora, serif;
    font-size: 3vw;
    position: relative;
}
@media (max-width:650px){
    .mst{ 
        font-size: 10vw;
    }
    .lora{
        font-size: 7vw;
    }  
}
.lora:before, .lora:after{
    background: url("./../img/flower.svg") no-repeat center center/2.5em 0.7em;
    content: "";
    left: -3em;
    top: -0.3em;
    position: absolute;
    width: 2.5em;
    height: 1.5em;
}
.lora:after {
    left: auto;
    right: -3em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
#menu{
 margin: 1rem 0;
 padding: .5rem;   
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
#menu ul li, #menu ul li a{
    padding: 1rem .5rem;
    transition: all 0.2s ease-in;
}
#menu ul li:hover{
    transform:translateY(-5px);
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gal{
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list{
    flex-direction: column;
}
.grid{
    flex-direction: row;
}
.post{
    border:1px solid black;
    border-radius: 6px;
    transition:all 0.2s ease-in-out;         
    min-width: 10rem;
    
    display: flex;
    flex: 1;
    width: auto;
    min-width: 200px;
    min-height: 300px;
    height: auto;
    margin: 0.2rem;
    max-width: 400px;
}
.post:hover{
    -webkit-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    transform: translate(0px, -5px);
}
.post h2{
    padding: 0 .5rem;
}
.post p{
    margin: .3rem;
}
.author{
    display: flex;
    align-items: center;
}
.author img{
    border-radius: 50%;
    margin-right: 1rem;
}
.grid .post .img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
.list .post{
    max-width: 100%;
}
.list .post a{
    display: flex;
    flex-direction:row;
}








button:disabled{
    background-color: green;
    color:white;
    font-weight: bold;
    border:0;
    padding: .2rem .4rem;
    cursor: not-allowed;
}
a{
    text-decoration: none;
    color:initial
}
a:not([rel="noopener"]){
    color:red;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }






  /*----Epic loader---*/
  .spinner{
      display: flex;
      justify-content: center;
  }
  .half-circle-spinner, .half-circle-spinner * {
    box-sizing: border-box;
  }

  .half-circle-spinner {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
  }

  .half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(60px / 10) solid transparent;
  }

  .half-circle-spinner .circle.circle-1 {
    border-top-color: #da752f;
    animation: half-circle-spinner-animation 1s infinite;
  }

  .half-circle-spinner .circle.circle-2 {
    border-bottom-color: #da752f;
    animation: half-circle-spinner-animation 1s infinite alternate;
  }

  @keyframes half-circle-spinner-animation {
    0% {
      transform: rotate(0deg);

    }
    100%{
      transform: rotate(360deg);
    }
  }