html{
    height: 100%;
    width: 100%;    
    background-color: white;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
body{
    margin: 2rem;
    padding: 1rem;
    background-color: white;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gal{
    transition: all 0.3s ease-in-out;
    background-color: bisque;
    display: flex;
}
.list{
    flex-direction: column;
}
.grid{
    flex-direction: row;
}
.item{
  border: 1px solid darkgrey;
  border-radius: 6px;
  margin: .3rem;
  display: inline-block;
}
.post{
    border:1px solid black;
    border-radius: 6px;
    margin: .5rem;   
    padding: .5rem;
    transition:all 0.2s ease-in-out;         
}
.post:hover{
    -webkit-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.62);
    transform: translate(0px, -5px);
}
button:disabled{
    background-color: green;
    color:white;
    font-weight: bold;
    border:0;
    padding: .2rem .4rem;
    cursor: not-allowed;
}
a{
    text-decoration: none;
    color:initial
}
a:not([rel="noopener"]){
    color:red;
}